.terminal {
    position : fixed;
    width:700px;
    height: 400px;
    padding : 10px;
    text-align : left;
    background-color :  black;
    color:lawngreen;
    overflow: hidden;
    margin  : auto;
    font-family: arial sans-serif;
    font-size  : 12px;
    cursor     : text;
}

.terminal > div {
    height: 20px;
}

.terminalInput {
    font-family: arial sans-serif;
    font-size  : 12px;
    background-color : black;
    color   : lawngreen;
    width   : 100%;
    outline : 0;
    border  : 0;
    height  : 20px;
    padding : 0;
}